.bar-header {
  background-color: rgb(0, 40, 126);
}

ion-side-menu li .item {
  background-color: #003cc7;
  border-color: #4F5865;
  color: #BCC3CF;

}

ion-side-menu li.item {
  border-color: #4F5865;
  }

ion-side-menu li.item.item-divider {
  background-color: #3E4755;
}

.ion-ionic {
  color: rgb(47, 255, 47);
}
.ion-home {
  color: blue;
}
.ion-ios-bell {
  color: yellow;
}
.ion-chatbox {
  color: green;
}
.ion-calendar {
  color: white;
}
.ion-folder {
  color: purple;
}
.ion-earth {
  color: maroon;
}
.ion-help-buoy {
  color: rgb(60, 255, 0);
}
.ion-gear-b {
  color: dimgray;
}
.ion-log-out {
  color: red;
}

.ion-ionic:before {
  content: "\f3ea";
}

.mm-site_mm_courses .tabs-icon-left {
  background-color: #EBEFF8;
}
.mm-site_mm_courses section h2 span {
  font-weight: bold;
}

/* 3.5 styles */

/** Header color */
.toolbar-background-md,
.toolbar-background-ios,
.toolbar-background-wp {
  background: #00005a;
}

/* Bottom tabs selected color */
.tabs-md .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon,
.core-tabs-bar .tabs-md a[aria-selected=true].tab-slide .tab-button-icon,
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon,
.core-tabs-bar .tabs-ios a[aria-selected=true].tab-slide .tab-button-icon,
.tabs-wp .tab-button[aria-selected=true] .tab-button-icon,
.tabs-wp .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon,
.core-tabs-bar .tabs-wp a[aria-selected=true].tab-slide .tab-button-icon {
  color: #096df0; /*cambiar color de iconos inferior*/
}
